.wrapCard{    
    gap: 1;    
    clip-path: polygon( 99.193% 0%,99.193% 0%,99.311% 0.019%,99.422% 0.073%,99.525% 0.159%,99.619% 0.274%,99.702% 0.415%,99.773% 0.579%,99.83% 0.761%,99.873% 0.96%,99.899% 1.172%,99.908% 1.393%,99.908% 87.893%,99.908% 87.893%,99.897% 88.447%,99.863% 88.995%,99.807% 89.534%,99.729% 90.062%,99.631% 90.576%,99.512% 91.074%,99.373% 91.553%,99.215% 92.012%,99.039% 92.447%,98.844% 92.857%,96.257% 97.893%,96.257% 97.893%,96.046% 98.272%,95.823% 98.616%,95.587% 98.923%,95.341% 99.193%,95.085% 99.424%,94.821% 99.616%,94.55% 99.767%,94.273% 99.876%,93.991% 99.942%,93.706% 99.964%,0.807% 99.964%,0.807% 99.964%,0.689% 99.946%,0.578% 99.891%,0.475% 99.805%,0.381% 99.69%,0.298% 99.549%,0.227% 99.386%,0.17% 99.203%,0.127% 99.004%,0.101% 98.793%,0.092% 98.571%,0.092% 12.107%,0.092% 12.107%,0.103% 11.553%,0.137% 11.005%,0.193% 10.466%,0.271% 9.938%,0.369% 9.424%,0.488% 8.926%,0.627% 8.447%,0.785% 7.988%,0.961% 7.553%,1.156% 7.143%,3.743% 2.071%,3.743% 2.071%,3.954% 1.692%,4.177% 1.349%,4.413% 1.041%,4.659% 0.771%,4.915% 0.54%,5.179% 0.349%,5.45% 0.198%,5.727% 0.089%,6.009% 0.022%,6.294% 0%,99.193% 0% );
}

.titleCard{
  font-size: clamp(1.5rem, 2vw, 2rem); 
  font-family: 'nerisBlack';
}

.textCard{
  font-size: clamp(0.75rem, 1.25vw, 1.25rem); 
  flex-grow: 1;
  flex-shrink: 1;
}



.rightSide {
    flex: 1;
    position: relative;
  }
  


  .card{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    clip-path: polygon( 99.193% 0%,99.193% 0%,99.311% 0.019%,99.422% 0.073%,99.525% 0.159%,99.619% 0.274%,99.702% 0.415%,99.773% 0.579%,99.83% 0.761%,99.873% 0.96%,99.899% 1.172%,99.908% 1.393%,99.908% 87.893%,99.908% 87.893%,99.897% 88.447%,99.863% 88.995%,99.807% 89.534%,99.729% 90.062%,99.631% 90.576%,99.512% 91.074%,99.373% 91.553%,99.215% 92.012%,99.039% 92.447%,98.844% 92.857%,96.257% 97.893%,96.257% 97.893%,96.046% 98.272%,95.823% 98.616%,95.587% 98.923%,95.341% 99.193%,95.085% 99.424%,94.821% 99.616%,94.55% 99.767%,94.273% 99.876%,93.991% 99.942%,93.706% 99.964%,0.807% 99.964%,0.807% 99.964%,0.689% 99.946%,0.578% 99.891%,0.475% 99.805%,0.381% 99.69%,0.298% 99.549%,0.227% 99.386%,0.17% 99.203%,0.127% 99.004%,0.101% 98.793%,0.092% 98.571%,0.092% 12.107%,0.092% 12.107%,0.103% 11.553%,0.137% 11.005%,0.193% 10.466%,0.271% 9.938%,0.369% 9.424%,0.488% 8.926%,0.627% 8.447%,0.785% 7.988%,0.961% 7.553%,1.156% 7.143%,3.743% 2.071%,3.743% 2.071%,3.954% 1.692%,4.177% 1.349%,4.413% 1.041%,4.659% 0.771%,4.915% 0.54%,5.179% 0.349%,5.45% 0.198%,5.727% 0.089%,6.009% 0.022%,6.294% 0%,99.193% 0% );
    gap: 1;
    
  }

  .content{    
    padding: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 2rem 2rem 0.5rem 2rem;    
    display: flex;
    flex-direction: column;

  }

  .footerCard{
    color: #d40511;
    padding: 1.5rem  0rem;  
  }


  .imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .imageWrapper {
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: relative;
  }
  

.imgRight{
  position: relative;


}


.wrapImage{
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 20%;
}


  .imgCard{
    position: absolute;
    width: 55%;
    height: auto;
    right: 0%;
  }

  .characterImg{
    position: absolute;
    width: 60%;
    height: auto;
    right: 0%;
    
    
  }  

