.header {
  width: 100%;
  height: 100vh;
  display: block;
  justify-content: center;
  align-content: center;
/*  background-image: url('/images/bg.jpg'); */
  background-size: cover;
  background-position: top;
  /*overflow: hidden;*/
}

.wrapHeader{
  width: 98%;
}

.clipped {
  width: 100%;
  height: 95vh;
  clip-path: polygon( 95.624% 97.944%,95.624% 97.944%,95.371% 98.323%,95.103% 98.666%,94.82% 98.972%,94.525% 99.239%,94.218% 99.468%,93.901% 99.657%,93.576% 99.806%,93.244% 99.913%,92.907% 99.978%,92.565% 100%,85.477% 100%,42.721% 100%,0.867% 100%,0.867% 100%,0.726% 99.981%,0.593% 99.928%,0.469% 99.842%,0.356% 99.727%,0.255% 99.586%,0.168% 99.422%,0.097% 99.237%,0.044% 99.035%,0.011% 98.819%,0% 98.592%,0% 12.099%,0% 12.099%,0.014% 11.54%,0.054% 10.988%,0.121% 10.446%,0.213% 9.916%,0.33% 9.4%,0.472% 8.9%,0.636% 8.419%,0.824% 7.96%,1.034% 7.523%,1.265% 7.113%,4.376% 2.056%,4.376% 2.056%,4.629% 1.68%,4.897% 1.339%,5.18% 1.035%,5.476% 0.767%,5.783% 0.537%,6.101% 0.347%,6.427% 0.197%,6.76% 0.088%,7.1% 0.022%,7.444% 0%,14.532% 0%,57.279% 0%,99.133% 0%,99.133% 0%,99.274% 0.019%,99.407% 0.072%,99.531% 0.158%,99.644% 0.273%,99.745% 0.414%,99.832% 0.578%,99.903% 0.763%,99.956% 0.965%,99.989% 1.181%,100% 1.408%,100% 87.901%,100% 87.901%,99.986% 88.46%,99.946% 89.012%,99.879% 89.554%,99.787% 90.084%,99.67% 90.6%,99.528% 91.1%,99.364% 91.581%,99.176% 92.04%,98.966% 92.477%,98.735% 92.887%,95.624% 97.944% );
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  background: linear-gradient(250deg, #02D0D9 -44.23%, #3C76D1 10.2%, #7743CB 43.34%, #AB61F3 74.11%);
  overflow: hidden;
}

.right {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.maskVideo{  
    background-color: #FFCC00;
    width: 100vw;
    height: 98vh;
    clip-path: polygon( 95.624% 97.944%,95.624% 97.944%,95.371% 98.323%,95.103% 98.666%,94.82% 98.972%,94.525% 99.239%,94.218% 99.468%,93.901% 99.657%,93.576% 99.806%,93.244% 99.913%,92.907% 99.978%,92.565% 100%,85.477% 100%,42.721% 100%,0.867% 100%,0.867% 100%,0.726% 99.981%,0.593% 99.928%,0.469% 99.842%,0.356% 99.727%,0.255% 99.586%,0.168% 99.422%,0.097% 99.237%,0.044% 99.035%,0.011% 98.819%,0% 98.592%,0% 12.099%,0% 12.099%,0.014% 11.54%,0.054% 10.988%,0.121% 10.446%,0.213% 9.916%,0.33% 9.4%,0.472% 8.9%,0.636% 8.419%,0.824% 7.96%,1.034% 7.523%,1.265% 7.113%,4.376% 2.056%,4.376% 2.056%,4.629% 1.68%,4.897% 1.339%,5.18% 1.035%,5.476% 0.767%,5.783% 0.537%,6.101% 0.347%,6.427% 0.197%,6.76% 0.088%,7.1% 0.022%,7.444% 0%,14.532% 0%,57.279% 0%,99.133% 0%,99.133% 0%,99.274% 0.019%,99.407% 0.072%,99.531% 0.158%,99.644% 0.273%,99.745% 0.414%,99.832% 0.578%,99.903% 0.763%,99.956% 0.965%,99.989% 1.181%,100% 1.408%,100% 87.901%,100% 87.901%,99.986% 88.46%,99.946% 89.012%,99.879% 89.554%,99.787% 90.084%,99.67% 90.6%,99.528% 91.1%,99.364% 91.581%,99.176% 92.04%,98.966% 92.477%,98.735% 92.887%,95.624% 97.944% );
    
  }

  .textLeft{
    font-family: 'nerisBlackItalic';
    font-size: clamp(3.375rem, 9.375vw, 9.375rem); 
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    line-height: 0.85;
    padding: 10px;
    align-self: center;
    color: #FFFFFF;
    opacity: 0.6;
    mix-blend-mode: overlay;
  }


  .textHeader{
    color: #FFFFFF;
    font-family: 'nerisSemiBoldItalic';
    font-size: clamp(0.75rem, 1.5625vw, 1.5625rem); 

  }

  .titleHeaderTop{
    color: var(--rose-1);
    font-family: 'nerisSemiBold';
    font-size: clamp(2rem, 4.375vw, 4.375rem); 
    line-height: 1;
  }


  .titleHeaderBottom{
    color: var(--rose-1);
    font-family: 'nerisBlackItalic';
    font-size: clamp(2.375rem, 5vw, 5rem); 
    line-height: 1;
  }



  .bgHeader {
    position: absolute;
    width: 100%;
    height: 200%;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-image: url('/images/bg.jpg'); 
    background-size: cover;
    background-position: top;
    z-index: -1;
  }
  

  .gradientHeader{
    position: absolute;
    bottom: -25%;
    left: 0px;
    width: 75%;
    height: 75%;
    flex-shrink: 0;
    background: var(--Linear, linear-gradient(90deg, #02D0D9 0%, #AB61F3 100%));
    filter: blur(150px);
    opacity: 0.85;
  }