.navFixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 98%;
    }



.navBarRight{
    position: relative;
    background: linear-gradient(270deg, rgba(217, 217, 217, 0.30) 0%, rgba(5, 5, 5, 0.30) 74.16%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding-left: 15px;
    padding-right: 15px;
    clip-path: polygon( 0.362% 100%,29.849% 100%,29.849% 100%,29.854% 100%,29.858% 100%,29.863% 99.999%,29.868% 99.999%,29.872% 99.998%,29.877% 99.997%,29.881% 99.995%,29.886% 99.994%,29.89% 99.992%,29.895% 99.991%,29.895% 99.991%,29.897% 99.992%,29.899% 99.994%,29.902% 99.995%,29.904% 99.997%,29.906% 99.998%,29.908% 99.999%,29.911% 99.999%,29.913% 100%,29.915% 100%,29.918% 100%,68.05% 100%,68.05% 100%,68.055% 100%,68.059% 100%,68.064% 99.999%,68.068% 99.999%,68.073% 99.998%,68.078% 99.997%,68.082% 99.995%,68.087% 99.994%,68.091% 99.992%,68.096% 99.991%,68.096% 99.991%,68.098% 99.992%,68.1% 99.994%,68.103% 99.995%,68.105% 99.997%,68.107% 99.998%,68.109% 99.999%,68.112% 99.999%,68.114% 100%,68.116% 100%,68.119% 100%,97.606% 100%,97.606% 100%,97.722% 99.939%,97.836% 99.759%,97.947% 99.463%,98.057% 99.052%,98.163% 98.531%,98.267% 97.9%,98.366% 97.164%,98.46% 96.325%,98.55% 95.386%,98.635% 94.349%,99.521% 82.554%,99.521% 82.554%,99.597% 81.447%,99.667% 80.273%,99.729% 79.035%,99.784% 77.742%,99.83% 76.399%,99.869% 75.013%,99.899% 73.589%,99.921% 72.134%,99.934% 70.655%,99.939% 69.157%,99.939% 38.095%,99.939% 38.095%,99.939% 38.018%,99.939% 37.941%,99.938% 37.864%,99.938% 37.788%,99.938% 37.712%,99.937% 37.636%,99.937% 37.561%,99.936% 37.486%,99.935% 37.411%,99.934% 37.337%,99.934% 37.337%,99.935% 37.186%,99.936% 37.035%,99.937% 36.884%,99.937% 36.733%,99.938% 36.582%,99.938% 36.431%,99.938% 36.279%,99.939% 36.128%,99.939% 35.976%,99.939% 35.824%,99.939% 4.762%,99.939% 4.762%,99.934% 3.99%,99.92% 3.257%,99.898% 2.574%,99.869% 1.95%,99.833% 1.395%,99.791% 0.919%,99.743% 0.532%,99.691% 0.243%,99.636% 0.062%,99.577% 0%,2.262% 0%,2.262% 0%,2.147% 0.061%,2.033% 0.241%,1.921% 0.537%,1.811% 0.948%,1.705% 1.469%,1.602% 2.1%,1.503% 2.836%,1.408% 3.675%,1.318% 4.614%,1.234% 5.651%,0.418% 16.507%,0.418% 16.507%,0.341% 17.613%,0.272% 18.788%,0.21% 20.025%,0.155% 21.318%,0.109% 22.661%,0.07% 24.048%,0.04% 25.471%,0.018% 26.926%,0.004% 28.405%,0% 29.903%,0% 61.905%,0% 61.905%,0% 61.95%,0% 61.995%,0% 62.04%,0% 62.084%,0% 62.129%,0.001% 62.174%,0.001% 62.218%,0.001% 62.262%,0.001% 62.307%,0.002% 62.351%,0.002% 62.351%,0.001% 62.439%,0.001% 62.527%,0.001% 62.616%,0.001% 62.704%,0% 62.793%,0% 62.882%,0% 62.97%,0% 63.059%,0% 63.148%,0% 63.236%,0% 95.238%,0% 95.238%,0.005% 96.011%,0.018% 96.743%,0.04% 97.426%,0.07% 98.05%,0.106% 98.605%,0.148% 99.081%,0.195% 99.468%,0.247% 99.757%,0.303% 99.938%,0.362% 100% );
   }


.logoBlendWrapper {
        position: relative;

}

.logoBlend{
    transform: translateZ(0); /* Forzar el re-renderizado */

}


  
  .wrapLogoBlend img {
  /*  mix-blend-mode: difference; */

  }
  